@tailwind base
@tailwind components
@tailwind utilities

@import "body.styl"
@import "button.styl"
@import "header.styl"
@import "home.styl"
@import "player.styl"
@import "about.styl"
@import "footer.styl"