.btn
  @apply flex w-auto items-center font-bold text-justify py-3 px-4 rounded leading-none cursor-pointer

  &.btn-lg
    @apply text-lg py-4 px-8

  &.btn-xl
    @apply text-lg py-5 px-12

  &.btn-green
    background-color #90ff13
    color #366600

    &:hover
      background-color #c1ff80